@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme) prefix(tw);

:where(.searchtuner-container[data-theme="dark"]) {
  --searchtuner-foreground: oklch(98.5% 0.001 106.423);
  --searchtuner-background: oklch(21.41% 0.009 272.675);
}

:root {
  --searchtuner-foreground: oklch(21.6% 0.006 56.043);
  --searchtuner-background: oklch(98.5% 0.001 106.423);
}

@theme inline {
  --color-foreground: var(--searchtuner-foreground);
  --color-background: var(--searchtuner-background);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {

  .searchtuner-container,
  .searchtuner-container * {
    @import "tailwindcss/preflight.css" layer(base);
  }
}


@import "tailwindcss/utilities.css" layer(utilities) prefix(tw);
